p-scrollPanel {

    ::ng-deep > * > .p-scrollpanel-bar {
        &:hover, &:active {
            --surface-border: var(--primary-color) !important;
        }
    }

    :host-context(.layout-theme-light) &:hover ::ng-deep > * > .p-scrollpanel-bar {
        --surface-border: var(--primary-300);
    }

    :host-context(.layout-theme-dark) &:hover ::ng-deep > * > .p-scrollpanel-bar {
        --surface-border: var(--primary-900);
    }

}
